# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environnement virtuel
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs et données
logs/
*.log
data/*.db
*.sqlite3

# Environnement
.env
.env.local
.env.*.local

# Autres
.DS_Store
Thumbs.db 